In [5]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import StackingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import pandas as pd

In [8]:
final_df = pd.read_csv("../data/processed/final_loan_data.csv")
exp_df = pd.read_csv("../data/processed/exp_loan_data.csv")

In [9]:
final_df.head()

,AGE,SEX,EDUCATION_Graduate,EDUCATION_HighSchool,EDUCATION_Others,EDUCATION_University,MARRIAGE_Married,MARRIAGE_Others,MARRIAGE_Single,LIMIT_BAL,PAY_0,avg_utilization,avg_payment_ratio,default payment next month
0,-1.246020,1,0,0,0,1,1,0,0,-1.136720,1.794564,-0.877698,0.089422,1
1,-1.029047,1,0,0,0,1,0,0,1,-0.365981,-0.874991,-0.992741,0.292774,1
2,-0.161156,1,0,0,0,1,0,0,1,-0.597202,0.014861,-0.525178,0.108387,0
3,0.164303,1,0,0,0,1,1,0,0,-0.905498,0.014861,1.131240,0.036259,0
4,2.334029,0,0,0,0,1,1,0,0,-0.905498,-0.874991,-0.024396,0.540049,0

In [10]:
exp_df.head()

,LIMIT_BAL,SEX,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,PAY_AMT1,...,EDUCATION_University,MARRIAGE_Married,MARRIAGE_Others,MARRIAGE_Single,avg_utilization,max_utilization,max_delay,avg_delay,num_delays,payment_std
0,-1.136720,1,-1.246020,1.794564,1.782348,-0.696663,-0.666599,-1.530046,-1.486041,-0.341942,...,1,1,0,0,-0.877698,-0.691196,1.160679,-0.153635,0.750059,-0.368090
1,-0.365981,1,-1.029047,-0.874991,1.782348,0.138865,0.188746,0.234917,1.992316,-0.341942,...,1,0,0,1,-0.992741,-1.076516,1.160679,0.694835,0.750059,-0.336671
2,-0.597202,1,-0.161156,0.014861,0.111736,0.138865,0.188746,0.234917,0.253137,-0.250292,...,1,0,0,1,-0.525178,-0.392776,-0.326164,0.185753,-0.536713,-0.282224
3,-0.905498,1,0.164303,0.014861,0.111736,0.138865,0.188746,0.234917,0.253137,-0.221191,...,1,1,0,0,1.131240,1.133513,-0.326164,0.185753,-0.536713,-0.354978
4,-0.905498,0,2.334029,-0.874991,0.111736,-0.696663,0.188746,0.234917,0.253137,-0.221191,...,1,1,0,0,-0.024396,0.512044,-0.326164,-0.153635,-0.536713,0.531868

In [11]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   AGE                         30000 non-null  float64
 1   SEX                         30000 non-null  int64
 2   EDUCATION_Graduate          30000 non-null  int64
 3   EDUCATION_HighSchool        30000 non-null  int64
 4   EDUCATION_Others            30000 non-null  int64
 5   EDUCATION_University        30000 non-null  int64
 6   MARRIAGE_Married            30000 non-null  int64
 7   MARRIAGE_Others             30000 non-null  int64
 8   MARRIAGE_Single             30000 non-null  int64
 9   LIMIT_BAL                   30000 non-null  float64
 10  PAY_0                       30000 non-null  float64
 11  avg_utilization             30000 non-null  float64
 12  avg_payment_ratio           30000 non-null  float64
 13  default payment next month  30000 non-null  int64
dtypes: float64(5), int64(9)
memory usage: 3.2 MB

In [12]:
exp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  float64
 1   SEX                         30000 non-null  int64
 2   AGE                         30000 non-null  float64
 3   PAY_0                       30000 non-null  float64
 4   PAY_2                       30000 non-null  float64
 5   PAY_3                       30000 non-null  float64
 6   PAY_4                       30000 non-null  float64
 7   PAY_5                       30000 non-null  float64
 8   PAY_6                       30000 non-null  float64
 9   PAY_AMT1                    30000 non-null  float64
 10  PAY_AMT2                    30000 non-null  float64
 11  PAY_AMT3                    30000 non-null  float64
 12  PAY_AMT4                    30000 non-null  float64
 13  PAY_AMT5                    30000 non-null  float64
 14  PAY_AMT6                    30000 non-null  float64
 15  default payment next month  30000 non-null  int64
 16  EDUCATION_Graduate          30000 non-null  int64
 17  EDUCATION_HighSchool        30000 non-null  int64
 18  EDUCATION_Others            30000 non-null  int64
 19  EDUCATION_University        30000 non-null  int64
 20  MARRIAGE_Married            30000 non-null  int64
 21  MARRIAGE_Others             30000 non-null  int64
 22  MARRIAGE_Single             30000 non-null  int64
 23  avg_utilization             30000 non-null  float64
 24  max_utilization             30000 non-null  float64
 25  max_delay                   30000 non-null  float64
 26  avg_delay                   30000 non-null  float64
 27  num_delays                  30000 non-null  float64
 28  payment_std                 30000 non-null  float64
dtypes: float64(20), int64(9)
memory usage: 6.6 MB